In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(
    "BDA 500 - COVID Testing Data.xlsx", sheet_name="COVID_Testing_Date"  # sic
)

df

,Cough,Fever,Temperature,Sore_Throat,Shortness_Of_Breath,Headache,Age,Age_60_And_Above,Sex,Contact,Result,Date,Test_Administrator,Patient_Experience_Survey,Test_Type
0,0,0,98.6,0,0,0,1,No,female,0,positive,2021-11-27,ID-707,Neutral,1.0
1,0,0,98.6,0,0,0,1,No,female,0,negative,2021-11-27,ID-707,Dissatisfied,1.0
2,0,0,52.7,0,0,0,2,No,female,0,negative,2021-11-02,ID-102,Satisfied,1.0
3,0,0,98.6,0,0,0,2,No,male,0,negative,2021-11-27,ID-102,Very Satisfied,1.0
4,0,0,98.6,0,0,0,2,No,male,0,negative,2021-11-27,ID-707,Satisfied,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,0,1,101.4,0,0,0,NaN,No,male,0,positive,2021-11-11,ID-506,Neutral,1.0
1067,0,0,98.7,0,0,0,NaN,No,female,0,negative,2021-11-16,ID-707,Dissatisfied,1.0
1068,0,0,98.7,0,0,0,NaN,No,male,0,negative,2021-11-13,ID-707,Satisfied,1.0
1069,0,0,98.7,0,0,0,NaN,No,male,0,positive,2021-11-16,ID-707,Neutral,1.0
1070,0,0,98.7,0,0,0,NaN,No,male,0,negative,2021-11-16,ID-707,Satisfied,1.0

# Handle missing values in the data set, and describe how you handled it.

In [3]:
# Check columns for missing values
df.isna().sum()

Cough                          0
Fever                          0
Temperature                    4
Sore_Throat                    0
Shortness_Of_Breath            0
Headache                       0
Age                           35
Age_60_And_Above              51
Sex                            1
Contact                        0
Result                         0
Date                           0
Test_Administrator             0
Patient_Experience_Survey    181
Test_Type                      6
dtype: int64

In [4]:
# Check for rows that are all NaN
df.isna().all(axis="columns").sum()

np.int64(0)

# Handle outliers in the data set, and describe how you handled them.

In [5]:
# Check each column for an unreasonable `min` or `max`.
df.describe()

,Cough,Fever,Temperature,Sore_Throat,Shortness_Of_Breath,Headache,Contact,Date,Test_Type
count,1071.000000,1071.000000,1067.000000,1071.000000,1071.000000,1071.000000,1071.000000,1071,1065.000000
mean,0.028011,0.062558,100.476289,0.010271,0.001867,0.015873,0.068161,2021-11-16 19:39:09.579832064,1.311737
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-10-04 00:00:00,1.000000
25%,0.000000,0.000000,98.600000,0.000000,0.000000,0.000000,0.000000,2021-11-11 00:00:00,1.000000
50%,0.000000,0.000000,98.700000,0.000000,0.000000,0.000000,0.000000,2021-11-19 00:00:00,1.000000
75%,0.000000,0.000000,98.800000,0.000000,0.000000,0.000000,0.000000,2021-11-26 00:00:00,2.000000
max,1.000000,1.000000,1001.000000,1.000000,1.000000,1.000000,1.000000,2021-11-28 00:00:00,2.000000
std,0.165082,0.242280,39.280687,0.100870,0.043193,0.125043,0.252139,NaN,0.463421

In [6]:
valid_temps = df.eval("90 < Temperature < 110 or Temperature.isna()")
invalid_temps = ~valid_temps

df.loc[invalid_temps, "Temperature"] = np.nan

In [7]:
df.query("not Age.astype('string').str.contains('^[0-9]+$', na=True)")

,Cough,Fever,Temperature,Sore_Throat,Shortness_Of_Breath,Headache,Age,Age_60_And_Above,Sex,Contact,Result,Date,Test_Administrator,Patient_Experience_Survey,Test_Type
1034,0,0,101.1,0,0,0,2021-10-04 00:00:00,Yes,male,0,negative,2021-10-04,ID-506,Very Dissatisfied,1.0
1035,0,0,101.1,0,0,0,Yes,Yes,male,0,negative,2021-10-04,ID-506,Very Dissatisfied,2.0

In [8]:
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

df["Age"].describe()

count    1034.000000
mean       46.753385
std        26.369776
min         1.000000
25%        21.250000
50%        48.500000
75%        69.000000
max       354.000000
Name: Age, dtype: float64

In [9]:
df["Age"].dropna().sort_values()

0         1.0
1         1.0
4         2.0
3         2.0
2         2.0
        ...
1017     80.0
1030     80.0
1031     80.0
1032     94.0
1033    354.0
Name: Age, Length: 1034, dtype: float64

In [10]:
valid_ages = df.eval("0 < Age < 120 or Age.isna()")
invalid_ages = ~valid_ages

df.loc[invalid_ages, "Age"] = np.nan

In [11]:
categorical_dims = df.select_dtypes(["object", "category", "string"])

for column_name in categorical_dims.columns:
    value_counts = df[column_name].value_counts(dropna=False)
    print(f"{value_counts}\n\n")

Age_60_And_Above
No     873
Yes    147
NaN     51
Name: count, dtype: int64


Sex
female    540
male      530
NaN         1
Name: count, dtype: int64


Result
negative    963
positive    108
Name: count, dtype: int64


Test_Administrator
ID-101    161
ID-102    137
ID-104    121
ID-707    106
ID-103     86
ID-444     71
ID-555     61
ID-505     55
ID-223     54
ID-308     45
ID-506     36
ID-703     25
ID-203     20
ID-686     20
ID-532     18
ID-202     15
ID-423     13
ID-302      8
ID-204      8
ID-         7
ID-504      3
ID-708      1
Name: count, dtype: int64


Patient_Experience_Survey
Satisfied            339
Very Satisfied       197
NaN                  181
Neutral              173
Dissatisfied         153
Very Dissatisfied     28
Name: count, dtype: int64

In [12]:
df.loc[df["Test_Administrator"] == "ID-", "Test_Administrator"] = np.nan

# Explore and describe various subsets of the data set.

In [13]:
df.groupby("Sex", dropna=False)["Result"].value_counts(
    dropna=False, normalize=True
).apply("{:.2%}".format)

Sex     Result
female  negative     90.19%
        positive      9.81%
male    negative     89.62%
        positive     10.38%
NaN     negative    100.00%
Name: proportion, dtype: object

In [14]:
df.groupby("Result")["Age"].describe().map("{:.1f}".format)

          count  mean   std  min   25%   50%   75%   max
Result
negative  930.0  46.2  24.8  1.0  21.0  48.0  69.0  94.0
positive  103.0  48.8  22.9  1.0  28.5  51.0  69.0  80.0

# Recall the origin story of this data set as shared with you.